.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-link {
  outline: none;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.04);
}
